--
-- Configures all the secret credentials
--
local module = {}

module.WIFISSID = "thessid"
module.WIFIPASS = "the wifi password"


module.MQTTBROKERIP = "192.168.1.8"
module.MQTTBROKERPORT = 1883
module.MQTTUSER = "the mqtt user"
module.MQTTPASS = "the mqtt broker password"

return module
